<div class="main">
    <div class="details">
        <h2>Details</h2>
        <div class="Indetails">
            <p>First Name: </p>
            <p>{{data.firstName}}</p>
        </div>
        <div class="Indetails">
            <p>Last Name:</p>
            <p>{{data.lastName}}</p>
        </div>
        <div class="Indetails">
            <p>User Name: </p>
            <p>{{data.Username}}</p>
        </div>
        <div class="Indetails">
            <p>Age: </p>
            <p>{{data.Age}}</p>
        </div>
        <div class="Indetails">
            <p>Email:  </p>
            <p>{{data.Email}}</p>
        </div>
        <div class="Indetails">
            <p>Phone no: </p>
            <p>{{data.PhoneNo}}</p>
        </div>
        <div class="Indetails">
            <p>User Name: </p>
            <p>{{data.UserName}}</p>
        </div>

        <div class="Indetails">
            <p>Given Label: </p>
            <p>{{data.AdditinalDataLabel}}</p>
        </div>
        <div class="Indetails">
            <p>Given Value: </p>
            <p>{{AdditionalValue}}</p>
        </div>
    </div>
</div>